<!-- footer -->
<footer class="footer site-footer">
  <div class="container">
    <div class="footer-wrap pbmit-footer-big-area">
      <div class="row">
        <div class="col-md-12 col-xl-5">
          <div class="pbmit-footer-logo">
            <img
              alt="DOrSU"
              class="img-fluid"
              src="static/img/Logo_gympro original ver.png"
            />
          </div>
        </div>
        <div class="col-xl-7 col-md-12 pbmit-footer-right">
          <h2>We provide a new approach to make gym accessibles</h2>
        </div>
      </div>
    </div>
    <div class="pbmit-footer-widget-area">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-3 widget-col-1">
          <div class="widget">
            <img
              alt="Location"
              class="img-fluid"
              src="static/img/location.png"
            />
            <div class="textwidget">
              <div
                class="pbmit-contact-widget-line pbmit-contact-widget-address"
              >
                Guang-guang, City of Mati, <br />Davao Oriental, Philippines
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 widget-col-2">
          <div class="widget">
            <h2 class="widget-title">Office Hours</h2>
            <div class="textwidget pbmit-timelist-wrapper">
              <ul class="pbmit-timelist-list">
                <li>
                  <span class="pbmit-timelist-li-title"
                    >Mon – Fri: 8:00 AM – 5:00 PM</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 widget-col-2">
          <div class="widget">
            <h2 class="widget-title">VISIT US</h2>
            <div class="pbmit-contact-widget-line pbmit-contact-widget-address">
              Guang-guang, City of Mati, <br />Davao Oriental, Philippines
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 widget-col-2">
          <div class="widget">
            <h2 class="widget-title">CONTACT US</h2>
            <ul class="pbmit-timelist-list">
              <li>
                <span class="pbmit-timelist-li-title">+63 87 388 3195</span>
              </li>
              <li>
                <span class="pbmit-timelist-li-title">info@dorsu.edu.ph</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pbmit-footer-section">
    <div class="container">
      <div class="pbmit-footer-text-inner">
        <div class="row">
          <div class="col-md-6">
            <div class="pbmit-footer-copyright-text-area">
              © 2023 Davao Oriental State University, All Rights Reserved
            </div>
          </div>

          <div class="col-md-6">
            <div class="pbmit-footer-menu-area">
              <div class="menu-copyright-menu-container">
                <ul class="pbmit-footer-menu">
                  <li class="menu-item">
                    <a href="/about">About Us</a>
                  </li>
                  <li class="menu-item">
                    <a href="/contact">Contact Us</a>
                  </li>
                  <li class="menu-item">
                    <a href="/signin">Membership</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer End -->
