<head>
  <meta charset="utf-8" />
  <meta content="ie=edge" http-equiv="x-ua-compatible" />
  <title>DOrSU Wellness Center</title>
  <meta content="noindex, follow" name="robots" />
  <meta content="" name="description" />
  <meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
  />
  <!-- Favicon -->
  <link
    href="static/images/Gympro Logo.png"
    rel="shortcut icon"
    type="image/x-icon"
  />
  <!-- CSS
         ============================================ -->
  <!-- Bootstrap CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Fontawesome -->
  <link href="static/css/font-awesome.css" rel="stylesheet" />
  <!-- Flaticon -->
  <link href="static/css/flaticon.css" rel="stylesheet" />
  <!-- optico Icons -->
  <link href="static/css/pbminfotech-base-icons.css" rel="stylesheet" />
  <!-- Themify Icons -->
  <link href="static/css/themify-icons.css" rel="stylesheet" />
  <!-- Slick -->
  <link href="static/css/swiper.min.css" rel="stylesheet" />
  <!-- Magnific -->
  <link href="static/css/magnific-popup.css" rel="stylesheet" />
  <!-- AOS -->
  <link href="static/css/aos.css" rel="stylesheet" />
  <!-- Shortcode CSS -->
  <link href="static/css/shortcode.css" rel="stylesheet" />
  <!-- Base CSS -->
  <link href="static/css/base.css" rel="stylesheet" />
  <!-- Style CSS -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- Responsive CSS -->
  <link href="static/css/responsive.css" rel="stylesheet" />
  <!-- REVOLUTION STYLE SHEETS -->
  <link href="static/css/rs6.css" rel="stylesheet" type="text/css" />
</head>
