<div class="site-header-menu">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="d-flex align-items-center justify-content-between">
          <div
            class="d-flex align-items-center justify-content-between header-content"
          >
            <div class="site-branding pbmit-logo-area">
              <h1 class="site-title">
                <a href="index.html">
                  <img
                    alt="Gyim"
                    class="logo-img"
                    src="static/img/Logo_gympro original ver.png"
                  />
                </a>
              </h1>
            </div>
            <div class="site-navigation">
              <nav class="main-menu navbar-expand-xl navbar-light">
                <div class="navbar-header">
                  <!-- Toggle Button -->
                  <button class="navbar-toggler" type="button">
                    <i class="pbmit-base-icon-menu-1"></i>
                  </button>
                </div>
                <div class="pbmit-mobile-menu-bg"></div>
                <div
                  class="collapse navbar-collapse clearfix show"
                  id="pbmit-menu"
                >
                  <div class="pbmit-menu-wrap">
                    <span class="closepanel">
                      <svg
                        class="qodef-svg--close qodef-m"
                        height="20.163"
                        viewbox="0 0 26.163 26.163"
                        width="20.163"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          height="1"
                          transform="translate(0.707) rotate(45)"
                          width="36"
                        ></rect>
                        <rect
                          height="1"
                          transform="translate(0 25.456) rotate(-45)"
                          width="36"
                        ></rect>
                      </svg>
                    </span>
                    <ul class="navigation clearfix">
                      <li>
                        <a href="/">Home</a>
                      </li>
                      <li>
                        <a href="/about">About Us</a>
                      </li>
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="/faq">FAQ</a></li>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/signup">Sign Up</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="pbmit-right-box">
            <div class="pbmit-button-box">
              <div class="pbmit-header-button2">
                <a href="tel:+639533180925">
                  <span class="pbmit-header-button2-text"
                    >+63 953 . 3180 . 925</span
                  >
                </a>
              </div>
            </div>

            <div class="pbmit-menuarea">
              <div class="navbar-header">
                <!-- Toggle Button -->
                <button
                  class="navbar-toggler pbmit-nav-menu-toggle"
                  type="button"
                >
                  <svg
                    class="qodef-svg--menu qodef-m"
                    height="21"
                    viewbox="0 0 36 21"
                    width="36"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M0,0H36V1H0Z" transform="translate(0 20)"></path>
                    <path d="M0,0H36V1H0Z" transform="translate(0 10)"></path>
                    <path d="M0,0H36V1H0Z"></path>
                  </svg>
                </button>
              </div>
              <div class="floting-bar-wrap">
                <div class="floting-bar-widget-area">
                  <aside class="widget widget_media_image">
                    <img
                      alt="Davao Oriental State University Logo"
                      class="img-fluid"
                      src="static/images/Logo_gympro black ver.png"
                    />
                  </aside>
                  <aside class="widget_text widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                      <div class="pbmit-contact-box">
                        <div class="pbmit-contact-list pbmit-location">
                          <h4>OUR LOCATION</h4>
                          <span
                            >Guang-guang, Mati, 8200 Davao Oriental,
                            Philippines</span
                          >
                        </div>
                        <div class="pbmit-contact-list pbmit-phone">
                          <h4>CALL & EMAIL</h4>
                          <span>(087) 388 3195</span>
                          <span> info@dorsu.edu.ph </span>
                        </div>
                        <div class="pbmit-contact-list pbmit-time">
                          <h4>OPENING HOURS</h4>
                          <span>Open 24 hours</span>
                        </div>
                      </div>
                    </div>
                  </aside>
                </div>
                <div class="floting-bar-social-wrap">
                  <div class="floting-bar-social-title">
                    <h4>FOLLOW US ON</h4>
                    <ul class="pbmit-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a
                          href="https://www.facebook.com/DavaoOrientalStateUniversity"
                          target="_blank"
                        >
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" target="_blank">
                          <span><i class="pbmit-base-icon-twitter"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-linkedin">
                        <a href="#" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-linkedin-in"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <span class="closepanel">
                  <svg
                    class="qodef-svg--close qodef-m"
                    height="26.163"
                    viewbox="0 0 26.163 26.163"
                    width="26.163"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      height="1"
                      transform="translate(0.707) rotate(45)"
                      width="36"
                    ></rect>
                    <rect
                      height="1"
                      transform="translate(0 25.456) rotate(-45)"
                      width="36"
                    ></rect>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
