<!DOCTYPE html>

<html class="no-js" lang="en">
  {% include "includes/head.html" %}

  <body>
    <!-- page wrapper -->
    <div class="page-wrapper pbmit-bg-color-blackish">
      <!-- Header Main Area -->
      <header class="site-header header-style-1">
        {% include "includes/nav.html" %}
      </header>
      <!-- Header Main Area End Here -->
      <!-- Title Bar -->
      <div class="pbmit-title-bar-wrapper pbmit-title-bar-style-1">
        <div class="container">
          <div class="pbmit-title-bar-content">
            <div class="pbmit-title-bar-content-inner">
              <div class="pbmit-tbar">
                <div class="pbmit-tbar-inner container">
                  <h1 class="pbmit-tbar-title">ABOUT US</h1>
                </div>
              </div>
              <div class="pbmit-breadcrumb">
                <div class="pbmit-breadcrumb-inner">
                  <span
                    ><a class="home" href="#" title=""
                      ><span>DorSU</span></a
                    ></span
                  >
                  <span class="sep">//</span>
                  <span
                    ><span class="post-root post post-post current-item"
                      >ABOUT US</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title Bar End-->
      <!-- Page Content -->
      <div class="page-content about-dark-section1">
        <!-- Ihbox Start -->

        <section class="section-xlt">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="pbmit-ihbox pbmit-ihbox-style-7">
                  <div class="pbmit-ihbox-box">
                    <div class="pbmit-ihbox-headingicon">
                      <div class="pbmit-ihbox-icon">
                        <div class="pbmit-ihbox-icon-wrapper">
                          <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                            <i
                              class="pbmit-gyim-icon pbmit-gyim-icon-yoga-position"
                            ></i>
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-ihbox-contents">
                        <h2 class="pbmit-element-title">BODY &amp; MIND</h2>
                        <div class="pbmit-heading-desc">
                          We offer equipment rental to help you achieve your
                          ideal body and mind balance, along with gym access by
                          appointment.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="pbmit-ihbox pbmit-ihbox-style-7">
                  <div class="pbmit-ihbox-box">
                    <div class="pbmit-ihbox-headingicon">
                      <div class="pbmit-ihbox-icon">
                        <div class="pbmit-ihbox-icon-wrapper">
                          <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                            <i
                              class="pbmit-gyim-icon pbmit-gyim-icon-pulsometer"
                            ></i>
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-ihbox-contents">
                        <h2 class="pbmit-element-title">HEALTHY LIFE</h2>
                        <div class="pbmit-heading-desc">
                          Equip yourself for a healthier life with our top-notch
                          facilities and tools available for rent by
                          appointment.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="pbmit-ihbox pbmit-ihbox-style-7">
                  <div class="pbmit-ihbox-box">
                    <div class="pbmit-ihbox-headingicon">
                      <div class="pbmit-ihbox-icon">
                        <div class="pbmit-ihbox-icon-wrapper">
                          <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                            <i
                              class="pbmit-gyim-icon pbmit-gyim-icon-sneaker"
                            ></i>
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-ihbox-contents">
                        <h2 class="pbmit-element-title">STRATEGIES</h2>
                        <div class="pbmit-heading-desc">
                          Use our gym and equipment rental options to stay on
                          track with your fitness strategy. Book your
                          appointment today!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="pbmit-ihbox pbmit-ihbox-style-7">
                  <div class="pbmit-ihbox-box">
                    <div class="pbmit-ihbox-headingicon">
                      <div class="pbmit-ihbox-icon">
                        <div class="pbmit-ihbox-icon-wrapper">
                          <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                            <i
                              class="pbmit-gyim-icon pbmit-gyim-icon-stationary-bike"
                            ></i>
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-ihbox-contents">
                        <h2 class="pbmit-element-title">WORKOUT</h2>
                        <div class="pbmit-heading-desc">
                          Access our gym by appointment and make the most of our
                          available equipment to enhance your workout routine.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Ihbox End -->
        <!-- Split Slide Start -->

        <section class="pbmit-element-split-slide-style-1">
          <div class="container">
            <div class="pbmit-heading-subheading text-center animation-style1">
              <h4 class="pbmit-subtitle"><span></span>Why Choose Us</h4>
              <h2 class="pbmit-title">STRONG AND RELIABLE GYM service</h2>
            </div>
            <div class="row">
              <div class="pbmit-element-split-slide-wrapper">
                <div class="row pbmit-bg-imgbox">
                  <div class="col-lg-7 col-md-12">
                    <div class="pbmit-bg-imgbox">
                      <div class="pin-spacer">
                        <div class="pbmit-img">
                          <div class="pbmit-split-slide-item-image">
                            <img
                              alt="High-Quality Gym Equipment"
                              class="img-fluid"
                              src="static/img/split-image.jpg"
                            />
                          </div>
                          <div class="pbmit-split-slide-item-image">
                            <img
                              alt="Professional Grade Gym Machines"
                              class="img-fluid"
                              src="static/img/split-image-01.jpg"
                            />
                          </div>
                          <div class="pbmit-split-slide-item-image">
                            <img
                              alt="Well-maintained Gym Facilities"
                              class="img-fluid"
                              src="static/img/split-image.jpg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-12">
                    <div class="pbmit-contentbox">
                      <div class="pbmit-split-slide-wrapper">
                        <div class="pbmit-split-slide-box">
                          <div class="pbmit-split-responsive-image">
                            <div class="pbmit-split-slide-item-image">
                              <img
                                alt="Go the Extra Mile with Ease"
                                class="img-fluid"
                                src="static/img/split-image.jpg"
                              />
                            </div>
                          </div>
                          <div class="pbmit-icon-box-wrapper">
                            <div class="pbmit-split-slide-number">
                              <p>01</p>
                            </div>
                            <div class="pbmit-split-slide-title">
                              <h4>GO THE EXTRA MILE WITH EASE</h4>
                            </div>
                            <div class="pbmit-split-slide-desc">
                              Our gym is equipped with high-quality, durable
                              machines, allowing you to push your limits and
                              enhance your performance effortlessly.
                            </div>
                            <a href="about-us-01.html">
                              <svg
                                class="pbmit-svg-arrow"
                                height="19"
                                viewbox="0 0 19 19"
                                width="10"
                              >
                                <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                                <line x1="1.2" x2="18" y1="1" y2="1"></line>
                                <line x1="18" x2="18" y1="17.8" y2="1"></line>
                              </svg>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-split-slide-wrapper">
                        <div class="pbmit-split-slide-box">
                          <div class="pbmit-split-responsive-image">
                            <div class="pbmit-split-slide-item-image">
                              <img
                                alt="Flexible Gym Access"
                                class="img-fluid"
                                src="static/img/split-image-01.jpg"
                              />
                            </div>
                          </div>
                          <div class="pbmit-icon-box-wrapper">
                            <div class="pbmit-split-slide-number">
                              <p>02</p>
                            </div>
                            <div class="pbmit-split-slide-title">
                              <h4>FLEXIBLE ACCESS TO GYM FACILITIES</h4>
                            </div>
                            <div class="pbmit-split-slide-desc">
                              We offer gym access on an appointment basis,
                              giving you the freedom to book a time that suits
                              your schedule best, without the hassle of
                              crowding.
                            </div>
                            <a href="about-us-01.html">
                              <svg
                                class="pbmit-svg-arrow"
                                height="19"
                                viewbox="0 0 19 19"
                                width="10"
                              >
                                <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                                <line x1="1.2" x2="18" y1="1" y2="1"></line>
                                <line x1="18" x2="18" y1="17.8" y2="1"></line>
                              </svg>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-split-slide-wrapper">
                        <div class="pbmit-split-slide-box">
                          <div class="pbmit-split-responsive-image">
                            <div class="pbmit-split-slide-item-image">
                              <img
                                alt="Equipment for Every Level"
                                class="img-fluid"
                                src="static/img/split-image.jpg"
                              />
                            </div>
                          </div>
                          <div class="pbmit-icon-box-wrapper">
                            <div class="pbmit-split-slide-number">
                              <p>03</p>
                            </div>
                            <div class="pbmit-split-slide-title">
                              <h4>
                                EXCELLENT RANGE OF EQUIPMENT FOR ALL LEVELS
                              </h4>
                            </div>
                            <div class="pbmit-split-slide-desc">
                              Whether you're a beginner or a pro, our gym is
                              fully equipped with a wide range of machines
                              suited for any level of fitness training.
                            </div>
                            <a href="about-us-01.html">
                              <svg
                                class="pbmit-svg-arrow"
                                height="19"
                                viewbox="0 0 19 19"
                                width="10"
                              >
                                <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                                <line x1="1.2" x2="18" y1="1" y2="1"></line>
                                <line x1="18" x2="18" y1="17.8" y2="1"></line>
                              </svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Split Slide End -->
        <!-- Marquee Start -->
        <section>
          <div class="container-fluid">
            <div class="swiper-slider marquee marquee-style-4">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <article class="pbmit-marquee-effect-style-4">
                    <div class="pbmit-tag-wrapper">
                      <h2
                        class="pbmit-element-title"
                        data-text="Personal Skilled Trainers"
                      >
                        High quality equipments
                      </h2>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article class="pbmit-marquee-effect-style-4">
                    <div class="pbmit-tag-wrapper">
                      <h2
                        class="pbmit-element-title"
                        data-text="Outdoor &amp; Online Trainings"
                      >
                        Outdoor &amp; Online Trainings
                      </h2>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article class="pbmit-marquee-effect-style-4">
                    <div class="pbmit-tag-wrapper">
                      <h2
                        class="pbmit-element-title"
                        data-text=" Suspension Trainers"
                      >
                        Suspension Trainers
                      </h2>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article class="pbmit-marquee-effect-style-4">
                    <div class="pbmit-tag-wrapper">
                      <h2
                        class="pbmit-element-title"
                        data-text="Live Daily Classes"
                      >
                        Live Daily Classes
                      </h2>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article class="pbmit-marquee-effect-style-4">
                    <div class="pbmit-tag-wrapper">
                      <h2
                        class="pbmit-element-title"
                        data-text="On-Demand Workouts"
                      >
                        On-Demand Workouts
                      </h2>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Marquee End -->

        <section class="section-lgxs portfolio-single">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="pbmit-short-description">
                  <img
                    alt=""
                    class="img-fluid w-100"
                    src="static/img/service-img-01big.jpg"
                  />
                  <div class="pbmit-single-project-details-list">
                    <div class="pbmit-portfolio-lines-wrapper">
                      <ul class="pbmit-portfolio-lines-ul">
                        <li class="pbmit-portfolio-line-li">
                          <span class="pbmit-portfolio-line-title"
                            >CATEGORY :
                          </span>
                          <span class="pbmit-portfolio-line-value"> Gym</span>
                        </li>
                        <li class="pbmit-portfolio-line-li">
                          <span class="pbmit-portfolio-line-title"
                            >DATE :
                          </span>
                          <span class="pbmit-portfolio-line-value">
                            November 22, 2021</span
                          >
                        </li>
                        <li class="pbmit-portfolio-line-li">
                          <span class="pbmit-portfolio-line-title"
                            >AUTHOR :</span
                          >
                          <span class="pbmit-portfolio-line-value"
                            >Alan Wallker</span
                          >
                        </li>
                        <li class="pbmit-portfolio-line-li">
                          <span class="pbmit-portfolio-line-title"
                            >CLASS :
                          </span>
                          <span class="pbmit-portfolio-line-value"
                            >Martial Arts
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="portfolio-details">
                  <div class="row">
                    <div class="col-xl-4 col-md-12">
                      <div class="pbmit-portfolio-heading">
                        <h4>01. MISSION</h4>
                      </div>
                    </div>
                    <div class="col-xl-8 col-md-12">
                      <div class="pbmit-portfolio-desc">
                        <p>
                          <span class="drop-cap"
                            ><span class="drop-cap-letter">M</span></span
                          >tiam ultricies nisi vel augue. Curabitur ullamcorper
                          ultricies nisi. Nam eget dui elit adipiscing. Etiam
                          rhoncust. Maecenas tempus, tellus eget condimentum
                          rhoncus,
                        </p>
                        <p>
                          Tiam ultricies nisi vel augue. Curabitur ullamcorper
                          ultricies nisi. Nam eget dui elit adipiscing. Etiam
                          rhoncus. Maecenas tempus, tellus eget condimentum
                          rhoncus, sem quam semper libero, sit amet tempus
                          adipiscing sem Lorem ipsum dolor sit amet, adipiscing
                          elit.
                          <span class="globalcolor"
                            ><u>Aenean commodo ligula</u></span
                          >
                          eget dolor. Aenean massa. Cum sociis vel Theme natoque
                          penatibus et magnis dis parturient montes,
                          nascetur…Sem quam semper libero et ante rhoncus
                          tincidunt tempus. Phasellus viverra nulla ut metus
                          varius laoreet. s eget condimentum rhoncus, sem quam
                          semper libero, sit amet quis adipiscing sem
                        </p>
                        <div class="post-img">
                          <div class="row">
                            <div class="col-md-12 col-xl-6">
                              <img
                                alt=""
                                class="img-fluid w-100"
                                src="static/img/service-img-small.jpg"
                              />
                            </div>
                            <div class="col-md-12 col-xl-6">
                              <img
                                alt=""
                                class="img-fluid w-100 img-padding"
                                src="static/img/service-01-small.jpg"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row section-padding">
                    <div class="col-lg-4 col-md-12">
                      <div class="pbmit-portfolio-heading">
                        <h4>02. VISSION</h4>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <p>
                        However, this isn’t always possible, so if you need to
                        keep your upper body bodyweight exercises completely
                        equipment-free, then it’s worth building in more reps,
                        extending the duration of each movement (particularly
                        the moment of higher tension) or trying more challenging
                        variations.
                      </p>
                      <div class="row g-0">
                        <article
                          class="pbmit-ele-miconheading pbmit-miconheading-style-8 col-md-4"
                        >
                          <div class="pbmit-ihbox pbmit-ihbox-style-8">
                            <div class="pbmit-ihbox-box">
                              <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                  <div
                                    class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-text"
                                  >
                                    01
                                  </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                  <h2 class="pbmit-element-title">Motivate</h2>
                                  <div class="pbmit-heading-desc">
                                    It makes sense to look at chin ups
                                    essentially as reverse push-ups.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article
                          class="pbmit-ele-miconheading pbmit-miconheading-style-8 col-md-4"
                        >
                          <div class="pbmit-ihbox pbmit-ihbox-style-8">
                            <div class="pbmit-ihbox-box">
                              <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                  <div
                                    class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-text"
                                  >
                                    02
                                  </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                  <h2 class="pbmit-element-title">Workout</h2>
                                  <div class="pbmit-heading-desc">
                                    It makes sense to look at chin ups
                                    essentially as reverse push-ups.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article
                          class="pbmit-ele-miconheading pbmit-miconheading-style-8 col-md-4"
                        >
                          <div class="pbmit-ihbox pbmit-ihbox-style-8">
                            <div class="pbmit-ihbox-box">
                              <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                  <div
                                    class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-text"
                                  >
                                    03
                                  </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                  <h2 class="pbmit-element-title">Results</h2>
                                  <div class="pbmit-heading-desc">
                                    It makes sense to look at chin ups
                                    essentially as reverse push-ups.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                  <div class="row section-padding">
                    <div class="col-xl-4 col-md-12">
                      <div class="pbmit-portfolio-heading">
                        <h4>03. VALUES</h4>
                      </div>
                    </div>
                    <div class="col-xl-8 col-md-12">
                      <div class="pbmit-portfolio-desc">
                        <p>
                          This full-body movement is excellent for building
                          strength and boosting cardio, working your arms, back,
                          chest, core, legs and glutes. It’s a high-energy
                          movement (great for adding in as a HIIT movement) that
                          will also help to burn fat and tone up.
                        </p>
                        <div class="d-flex">
                          <ul class="pbmit-blog-list-ele">
                            <li class="list-group-item">
                              <i class="pbmit-base-icon-check"></i>
                              Risus viverra adipiscing at in integer feugiat
                            </li>
                            <li class="list-group-item">
                              <i class="pbmit-base-icon-check"></i>
                              Neque ornare aenean euismod nisi quis.
                            </li>
                            <li class="list-group-item">
                              <i class="pbmit-base-icon-check"></i>
                              Tristique magna sit amet gravida quis blandit.
                            </li>
                          </ul>
                          <ul class="pbmit-blog-list-ele">
                            <li class="list-group-item">
                              <i class="pbmit-base-icon-check"></i>
                              Modern Equipments at in integer feugiat.
                            </li>
                            <li class="list-group-item">
                              <i class="pbmit-base-icon-check"></i>
                              Skilled Trainer aenean euismod nisi quis.
                            </li>
                            <li class="list-group-item">
                              <i class="pbmit-base-icon-check"></i>
                              Free Trial classes sit amet gravida quis bladit.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Page Content End -->

      {% include "includes/footer.html" %}
    </div>
    <!-- Page Wrapper End -->
    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
      <div class="pbmit-icon-close"></div>
      <div class="pbmit-search-outer">
        <form class="pbmit-site-searchform">
          <input
            class="form-control field searchform-s"
            name="s"
            placeholder="Search …"
            type="search"
          />
          <button type="submit">
            <i class="pbmit-base-icon-search-1"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Search Box End Here -->
    <!-- Scroll To Top -->
    <div class="pbmit-progress-wrap">
      <svg
        class="pbmit-progress-circle svg-content"
        height="100%"
        viewbox="-1 -1 102 102"
        width="100%"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- Scroll To Top End -->
    <!-- JS
   ============================================ -->
    <!-- jQuery JS -->
    <script data-cfasync="false" src="static/js/email-decode.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="static/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="static/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="static/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="static/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="static/js/circle-progress.js"></script>
    <!-- countdown JS -->
    <script src="static/js/jquery.countdown.min.js"></script>
    <!-- AOS -->
    <script src="static/js/aos.js"></script>
    <!-- GSAP -->
    <script src="static/js/gsap.js"></script>
    <!-- Scroll Trigger -->
    <script src="static/js/ScrollTrigger.js"></script>
    <!-- Split Text -->
    <script src="static/js/SplitText.js"></script>
    <!-- Magnetic -->
    <script src="static/js/magnetic.js"></script>
    <!-- GSAP Animation -->
    <script src="static/js/gsap-animation.js"></script>
    <!-- Scripts JS -->
    <script src="static/js/scripts.js"></script>
    <script>
      (function () {
        function c() {
          var b = a.contentDocument || a.contentWindow.document;
          if (b) {
            var d = b.createElement("script");
            d.innerHTML =
              "window.__CF$cv$params={r:'8def3181bf8e46af',t:'MTczMTAwMjExOC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
            b.getElementsByTagName("head")[0].appendChild(d);
          }
        }
        if (document.body) {
          var a = document.createElement("iframe");
          a.height = 1;
          a.width = 1;
          a.style.position = "absolute";
          a.style.top = 0;
          a.style.left = 0;
          a.style.border = "none";
          a.style.visibility = "hidden";
          document.body.appendChild(a);
          if ("loading" !== document.readyState) c();
          else if (window.addEventListener)
            document.addEventListener("DOMContentLoaded", c);
          else {
            var e = document.onreadystatechange || function () {};
            document.onreadystatechange = function (b) {
              e(b);
              "loading" !== document.readyState &&
                ((document.onreadystatechange = e), c());
            };
          }
        }
      })();
    </script>
  </body>
</html>
