<!DOCTYPE html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title>Blog Grid View – Gyim HTML Template</title>
    <meta content="noindex, follow" name="robots" />
    <meta content="" name="description" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <!-- Favicon -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <!-- CSS
        ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Fontawesome -->
    <link href="static/css/font-awesome.css" rel="stylesheet" />
    <!-- Flaticon -->
    <link href="static/css/flaticon.css" rel="stylesheet" />
    <!-- optico Icons -->
    <link href="static/css/pbminfotech-base-icons.css" rel="stylesheet" />
    <!-- Themify Icons -->
    <link href="static/css/themify-icons.css" rel="stylesheet" />
    <!-- Slick -->
    <link href="static/css/swiper.min.css" rel="stylesheet" />
    <!-- Magnific -->
    <link href="static/css/magnific-popup.css" rel="stylesheet" />
    <!-- AOS -->
    <link href="static/css/aos.css" rel="stylesheet" />
    <!-- Shortcode CSS -->
    <link href="static/css/shortcode.css" rel="stylesheet" />
    <!-- Base CSS -->
    <link href="static/css/base.css" rel="stylesheet" />
    <!-- Style CSS -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="static/css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Page Wrapper -->
    <div class="page-wrapper">
      <!-- Header Main Area -->
      <header class="site-header header-style-1">
        <div class="site-header-menu header-border">
          <div class="container-fluid g-0">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between">
                  <div
                    class="d-flex align-items-center justify-content-between header-content"
                  >
                    <div class="site-branding pbmit-logo-area">
                      <h1 class="site-title">
                        <a href="index.html">
                          <img
                            alt="Gyim"
                            class="logo-img"
                            src="static/img/logo.svg"
                          />
                        </a>
                      </h1>
                    </div>
                    <div class="site-navigation">
                      <nav class="main-menu navbar-expand-xl navbar-light">
                        <div class="navbar-header">
                          <!-- Toggle Button -->
                          <button class="navbar-toggler" type="button">
                            <i class="pbmit-base-icon-menu-1"></i>
                          </button>
                        </div>
                        <div class="pbmit-mobile-menu-bg"></div>
                        <div
                          class="collapse navbar-collapse clearfix show"
                          id="pbmit-menu"
                        >
                          <div class="pbmit-menu-wrap">
                            <span class="closepanel">
                              <svg
                                class="qodef-svg--close qodef-m"
                                height="20.163"
                                viewbox="0 0 26.163 26.163"
                                width="20.163"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <rect
                                  height="1"
                                  transform="translate(0.707) rotate(45)"
                                  width="36"
                                ></rect>
                                <rect
                                  height="1"
                                  transform="translate(0 25.456) rotate(-45)"
                                  width="36"
                                ></rect>
                              </svg>
                            </span>
                            <ul class="navigation clearfix">
                              <li class="dropdown">
                                <a href="index.html">Home</a>
                                <ul>
                                  <li><a href="index.html">Home page 01</a></li>
                                  <li>
                                    <a href="index-02.html">Home page 02</a>
                                  </li>
                                  <li>
                                    <a href="index-03.html">Home page 03</a>
                                  </li>
                                </ul>
                              </li>
                              <li class="dropdown">
                                <a href="#">Pages</a>
                                <ul>
                                  <li>
                                    <a href="about-us-01.html">About us 01</a>
                                  </li>
                                  <li>
                                    <a href="about-us-02.html">About us 02</a>
                                  </li>
                                  <li>
                                    <a href="our-team-member.html"
                                      >Our Team Member</a
                                    >
                                  </li>
                                  <li>
                                    <a href="team-member-details.html"
                                      >Team Member Details</a
                                    >
                                  </li>
                                  <li><a href="faq.html">FAQ</a></li>
                                </ul>
                              </li>
                              <li>
                                <a class="our-classes" href="our-classes.html"
                                  >Our Classes</a
                                >
                              </li>
                              <li class="dropdown">
                                <a href="#">Portfolio</a>
                                <ul>
                                  <li>
                                    <a href="portfolio-grid-view.html"
                                      >Grid View</a
                                    >
                                  </li>
                                  <li>
                                    <a href="portfolio-single-detail-style.html"
                                      >Single Detail Syle</a
                                    >
                                  </li>
                                </ul>
                              </li>
                              <li class="dropdown active">
                                <a href="#">Blog</a>
                                <ul>
                                  <li>
                                    <a href="blog-large-image.html"
                                      >Blog Large Image</a
                                    >
                                  </li>
                                  <li class="active">
                                    <a href="blog-grid-view.html"
                                      >Blog Grid View</a
                                    >
                                  </li>
                                  <li>
                                    <a href="blog-single-details.html"
                                      >Blog Single Details</a
                                    >
                                  </li>
                                </ul>
                              </li>
                              <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div>
                  <div class="pbmit-right-box">
                    <div class="pbmit-button-box">
                      <div class="pbmit-header-button2">
                        <a href="tel:+%20877%20.%20485%20.%200700">
                          <span class="pbmit-header-button2-text"
                            >+ 877 . 485 . 0700</span
                          >
                        </a>
                      </div>
                    </div>
                    <div class="pbmit-header-search-btn">
                      <a href="#"><i class="pbmit-base-icon-search-1"></i></a>
                    </div>
                    <div class="pbmit-menuarea">
                      <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button
                          class="navbar-toggler pbmit-nav-menu-toggle"
                          type="button"
                        >
                          <svg
                            class="qodef-svg--menu qodef-m"
                            height="21"
                            viewbox="0 0 36 21"
                            width="36"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0,0H36V1H0Z"
                              transform="translate(0 20)"
                            ></path>
                            <path
                              d="M0,0H36V1H0Z"
                              transform="translate(0 10)"
                            ></path>
                            <path d="M0,0H36V1H0Z"></path>
                          </svg>
                        </button>
                      </div>
                      <div class="floting-bar-wrap">
                        <div class="floting-bar-widget-area">
                          <aside class="widget widget_media_image">
                            <img
                              alt=""
                              class="img-fluid"
                              src="static/img/logo-dark-02.svg"
                            />
                          </aside>
                          <aside class="widget widget_text">
                            <div class="textwidget">
                              <p>
                                Cum sociis Theme natoque penatibus et magnis dis
                                parturie montes, nascetur ridiculus mus.
                                Curabitur ullamcorper id ultricies nisi.
                              </p>
                            </div>
                          </aside>
                          <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                              <div class="pbmit-contact-box">
                                <div class="pbmit-contact-list pbmit-location">
                                  <h4>WE ARE HERE</h4>
                                  <span
                                    >85 Briston Mint Street, London, E1 8LG,
                                    USA</span
                                  >
                                </div>
                                <div class="pbmit-contact-list pbmit-phone">
                                  <h4>CALL &amp; MAIL</h4>
                                  <span>+800-123-4567</span>
                                  <span
                                    ><a
                                      class="__cf_email__"
                                      data-cfemail="651507080c0b030a25101600174b060a08"
                                      href="/cdn-cgi/l/email-protection"
                                      >[email protected]</a
                                    ></span
                                  >
                                </div>
                                <div class="pbmit-contact-list pbmit-time">
                                  <h4>OPENING HOURS</h4>
                                  <span>Monday to Saturday</span>
                                  <span>6:30 am — 2:00 am</span>
                                </div>
                              </div>
                            </div>
                          </aside>
                        </div>
                        <div class="floting-bar-social-wrap">
                          <div class="floting-bar-social-title">
                            <h4>FOLLOW US ON</h4>
                            <ul class="pbmit-social-links">
                              <li class="pbmit-social-li pbmit-social-facebook">
                                <a href="#" target="_blank">
                                  <span
                                    ><i class="pbmit-base-icon-facebook-f"></i
                                  ></span>
                                </a>
                              </li>
                              <li class="pbmit-social-li pbmit-social-twitter">
                                <a href="#" target="_blank">
                                  <span
                                    ><i class="pbmit-base-icon-twitter"></i
                                  ></span>
                                </a>
                              </li>
                              <li class="pbmit-social-li pbmit-social-linkedin">
                                <a href="#" target="_blank">
                                  <span
                                    ><i class="pbmit-base-icon-linkedin-in"></i
                                  ></span>
                                </a>
                              </li>
                              <li
                                class="pbmit-social-li pbmit-social-instagram"
                              >
                                <a href="#" target="_blank">
                                  <span
                                    ><i class="pbmit-base-icon-instagram"></i
                                  ></span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <span class="closepanel">
                          <svg
                            class="qodef-svg--close qodef-m"
                            height="26.163"
                            viewbox="0 0 26.163 26.163"
                            width="26.163"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <rect
                              height="1"
                              transform="translate(0.707) rotate(45)"
                              width="36"
                            ></rect>
                            <rect
                              height="1"
                              transform="translate(0 25.456) rotate(-45)"
                              width="36"
                            ></rect>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Header Main Area End Here -->
      <!-- Title Bar -->
      <div class="pbmit-title-bar-wrapper">
        <div class="container">
          <div class="pbmit-title-bar-content">
            <div class="pbmit-title-bar-content-inner">
              <div class="pbmit-tbar">
                <div class="pbmit-tbar-inner container">
                  <h1 class="pbmit-tbar-title">Blog Grid View</h1>
                </div>
              </div>
              <div class="pbmit-breadcrumb">
                <div class="pbmit-breadcrumb-inner">
                  <span
                    ><a class="home" href="#" title=""
                      ><span>DorSU</span></a
                    ></span
                  >
                  <span class="sep">//</span>
                  <span
                    ><span class="post-root post post-post current-item"
                      >Blog Grid View</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title Bar End-->
      <!-- Page Content -->
      <div class="page-content blog-grid">
        <!-- Blog Grid -->
        <section class="section-lgs pbmit-bg-color-blackish">
          <div class="container">
            <div class="row">
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 exercise"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-01.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Exercise</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >How to Keep Your Body Healthy in festival</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 Workout"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-02.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Workout</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >Give your fitness a boost with our gym</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 exercise"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-03.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Exercise</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >The Best Strength Training Exercises</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
            </div>
            <div class="row">
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 Weight loss"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-04.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Weight loss</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >What an Amazing Training Class</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 Trainer"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-05.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Trainer</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >Give your fitness a boost with our gym</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 Fitness"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-06.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Fitness</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >Today is the Best Day to Start Training</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
            </div>
            <div class="row">
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 Weight loss"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-07.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Weight loss</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >Give your Fitness a Boost with Gym</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 Fitness"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-08.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Fitness</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >Modify any Program to Improve Weakness</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
              <article
                class="pbmit-ele-blog pbmit-blog-style-2 col-md-4 exercise"
              >
                <div class="post-item">
                  <div class="pbminfotech-box-content">
                    <div class="pbmit-featured-container">
                      <div class="pbmit-featured-img-wrapper">
                        <div class="pbmit-featured-wrapper">
                          <img
                            alt=""
                            class="img-fluid"
                            src="static/img/blog-img-09.jpg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-category">
                        <a href="blog-large-image.html" rel="category tag"
                          >Exercise</a
                        >
                      </div>
                    </div>
                    <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                      <div class="pbmit-meta-date">
                        <span class="pbmit-post-date">January 04. 2023</span>
                      </div>
                    </div>
                    <div class="pbmit-content-wrapper">
                      <h3 class="pbmit-post-title">
                        <a href="blog-single-details.html"
                          >The Best Strength Training Exercises</a
                        >
                      </h3>
                    </div>
                    <a class="pbmit-svg-btn" href="#">
                      <svg
                        class="pbmit-svg-arrow"
                        height="19"
                        viewbox="0 0 19 19"
                        width="10"
                        x="0px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        y="0px"
                      >
                        <line x1="1" x2="17.8" y1="18" y2="1.2"></line>
                        <line x1="1.2" x2="18" y1="1" y2="1"></line>
                        <line x1="18" x2="18" y1="17.8" y2="1"></line>
                      </svg>
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <!-- Blog Grid End -->
      </div>
      <!-- Page Content End -->
      <!-- footer -->
      <footer class="footer site-footer">
        <div class="container">
          <div class="footer-wrap pbmit-footer-big-area">
            <div class="row">
              <div class="col-md-5">
                <div class="pbmit-footer-logo">
                  <img alt="Gyim" class="img-fluid" src="static/img/logo.svg" />
                </div>
              </div>
              <div class="col-md-7 pbmit-footer-right">
                <h2>We provide a new approach to training &amp; nutrition</h2>
              </div>
            </div>
          </div>
          <div class="pbmit-footer-widget-area">
            <div class="row align-items-center">
              <div class="col-md-5">
                <div class="widget">
                  <img
                    alt="Gyim"
                    class="img-fluid"
                    src="static/img/LOCATION.png"
                  />
                  <div class="textwidget">
                    <div
                      class="pbmit-contact-widget-line pbmit-contact-widget-address"
                    >
                      27 West 24th St New York, <br />NY 10010
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-4">
                    <div class="widget">
                      <h2 class="widget-title">Working Hours</h2>
                      <div class="textwidget pbmit-timelist-wrapper">
                        <ul class="pbmit-timelist-list">
                          <li>
                            <span class="pbmit-timelist-li-title"
                              >Mon – Fri: 9.00 – 6.00</span
                            >
                          </li>
                          <li>
                            <span class="pbmit-timelist-li-title"
                              >St – Sun: 9.00 – 1.00</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="widget">
                      <h2 class="widget-title">WE ARE HERE</h2>
                      <div
                        class="pbmit-contact-widget-line pbmit-contact-widget-address"
                      >
                        27 West 24th St New York, <br />NY 10010
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="widget">
                      <h2 class="widget-title">CALL US</h2>
                      <ul class="pbmit-timelist-list">
                        <li>
                          <span class="pbmit-timelist-li-title"
                            >+1 800 123 456 789</span
                          >
                        </li>
                        <li>
                          <span class="pbmit-timelist-li-title"
                            >+1 800 123 456 789</span
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pbmit-footer-section">
          <div class="container">
            <div class="pbmit-footer-text-inner">
              <div class="row">
                <div class="col-md-6">
                  <div class="pbmit-footer-copyright-text-area">
                    © 2023 Designervily , All Rights Reserved
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pbmit-footer-menu-area">
                    <div class="menu-copyright-menu-container">
                      <ul class="pbmit-footer-menu">
                        <li class="menu-item">
                          <a href="our-classes.html">Services</a>
                        </li>
                        <li class="menu-item">
                          <a href="faq.html">Faq</a>
                        </li>
                        <li class="menu-item">
                          <a href="contact-us.html">Careers</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer End -->
    </div>
    <!-- Page Wrapper End -->
    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
      <div class="pbmit-icon-close"></div>
      <div class="pbmit-search-outer">
        <form class="pbmit-site-searchform">
          <input
            class="form-control field searchform-s"
            name="s"
            placeholder="Search …"
            type="search"
          />
          <button type="submit">
            <i class="pbmit-base-icon-search-1"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Search Box End Here -->
    <!-- Scroll To Top -->
    <div class="pbmit-progress-wrap">
      <svg
        class="pbmit-progress-circle svg-content"
        height="100%"
        viewbox="-1 -1 102 102"
        width="100%"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- Scroll To Top End -->
    <!-- JS
         ============================================ -->
    <!-- jQuery JS -->
    <script data-cfasync="false" src="static/js/email-decode.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="static/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="static/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="static/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="static/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="static/js/circle-progress.js"></script>
    <!-- countdown JS -->
    <script src="static/js/jquery.countdown.min.js"></script>
    <!-- AOS -->
    <script src="static/js/aos.js"></script>
    <!-- GSAP -->
    <script src="static/js/gsap.js"></script>
    <!-- Scroll Trigger -->
    <script src="static/js/ScrollTrigger.js"></script>
    <!-- Split Text -->
    <script src="static/js/SplitText.js"></script>
    <!-- Magnetic -->
    <script src="static/js/magnetic.js"></script>
    <!-- GSAP Animation -->
    <script src="static/js/gsap-animation.js"></script>
    <!-- Scripts JS -->
    <script src="static/js/scripts.js"></script>
    <script>
      (function () {
        function c() {
          var b = a.contentDocument || a.contentWindow.document;
          if (b) {
            var d = b.createElement("script");
            d.innerHTML =
              "window.__CF$cv$params={r:'8def30ffca209fbb',t:'MTczMTAwMjA5Ny4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
            b.getElementsByTagName("head")[0].appendChild(d);
          }
        }
        if (document.body) {
          var a = document.createElement("iframe");
          a.height = 1;
          a.width = 1;
          a.style.position = "absolute";
          a.style.top = 0;
          a.style.left = 0;
          a.style.border = "none";
          a.style.visibility = "hidden";
          document.body.appendChild(a);
          if ("loading" !== document.readyState) c();
          else if (window.addEventListener)
            document.addEventListener("DOMContentLoaded", c);
          else {
            var e = document.onreadystatechange || function () {};
            document.onreadystatechange = function (b) {
              e(b);
              "loading" !== document.readyState &&
                ((document.onreadystatechange = e), c());
            };
          }
        }
      })();
    </script>
  </body>
</html>
