<!DOCTYPE html>

<html class="no-js" lang="en">
  {% include "includes/head.html" %}

  <body>
    <!-- page wrapper -->
    <div class="page-wrapper pbmit-bg-color-blackish">
      <!-- Header Main Area -->
      <header class="site-header header-style-1">
        {% include "includes/nav.html" %}
      </header>

      <!-- Header Main Area End Here -->
      <!-- Title Bar -->
      <div class="pbmit-title-bar-wrapper">
        <div class="container">
          <div class="pbmit-title-bar-content">
            <div class="pbmit-title-bar-content-inner">
              <div class="pbmit-tbar">
                <div class="pbmit-tbar-inner container">
                  <h1 class="pbmit-tbar-title">Contact Us</h1>
                </div>
              </div>
              <div class="pbmit-breadcrumb">
                <div class="pbmit-breadcrumb-inner">
                  <span
                    ><a class="home" href="#" title=""
                      ><span>DorSU</span></a
                    ></span
                  >
                  <span class="sep">//</span>
                  <span
                    ><span class="post-root post post-post current-item"
                      >Contact Us</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title Bar End-->
      <!-- Contact Us Content -->
      <div class="page-content">
        <!-- Contact Us Start -->
        <section class="contact-section">
          <div class="container">
            <div class="row">
              <div class="col-xl-5">
                <div class="pbmit-heading-subheading animation-style1">
                  <h4 class="pbmit-subtitle"><span></span>Reach Out</h4>
                  <h2 class="pbmit-title">CONNECT WITH US.</h2>
                </div>
                <p>
                  We are here to assist you. Feel free to get in touch with us
                  for any questions or concerns.
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="pbmit-ihbox pbmit-ihbox-style-5">
                      <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-icon">
                          <div class="pbmit-ihbox-icon-wrapper">
                            <div
                              class="pbmit-icon-wrapper pbmit-icon-type-icon"
                            >
                              <i class="fa fa-square"></i>
                            </div>
                          </div>
                        </div>
                        <div class="pbmit-ihbox-contents">
                          <h2 class="pbmit-element-title">Address</h2>
                          <div class="pbmit-heading-desc">
                            Guang-guang, City of Mati, Davao Oriental,
                            Philippines
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="pbmit-ihbox pbmit-ihbox-style-5">
                      <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-icon">
                          <div class="pbmit-ihbox-icon-wrapper">
                            <div
                              class="pbmit-icon-wrapper pbmit-icon-type-icon"
                            >
                              <i class="fa fa-square"></i>
                            </div>
                          </div>
                        </div>
                        <div class="pbmit-ihbox-contents">
                          <h2 class="pbmit-element-title">CALL &amp; EMAIL</h2>
                          <div class="pbmit-heading-desc">
                            +63 87 388 3195
                            <br />
                            <a href="mailto:contact@yourwebsite.com"
                              >info@dorsu.edu.ph</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="pbmit-ihbox pbmit-ihbox-style-5">
                      <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-icon">
                          <div class="pbmit-ihbox-icon-wrapper">
                            <div
                              class="pbmit-icon-wrapper pbmit-icon-type-icon"
                            >
                              <i class="fa fa-square"></i>
                            </div>
                          </div>
                        </div>
                        <div class="pbmit-ihbox-contents">
                          <h2 class="pbmit-element-title">OPENING HOURS</h2>
                          <div class="pbmit-heading-desc">
                            Monday to Friday <br />
                            8:00 am — 6:00 pm
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="pbmit-ihbox pbmit-ihbox-style-5">
                      <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-icon">
                          <div class="pbmit-ihbox-icon-wrapper">
                            <div
                              class="pbmit-icon-wrapper pbmit-icon-type-icon"
                            >
                              <i class="fa fa-square"></i>
                            </div>
                          </div>
                        </div>
                        <div class="pbmit-ihbox-contents">
                          <h2 class="pbmit-element-title">FOLLOW US</h2>
                          <ul class="pbmit-social-links">
                            <li class="pbmit-social-li pbmit-social-facebook">
                              <a href="#" target="_blank">
                                <span
                                  ><i class="pbmit-base-icon-facebook-f"></i
                                ></span>
                              </a>
                            </li>
                            <li class="pbmit-social-li pbmit-social-twitter">
                              <a href="#" target="_blank">
                                <span
                                  ><i class="pbmit-base-icon-twitter"></i
                                ></span>
                              </a>
                            </li>
                            <li class="pbmit-social-li pbmit-social-linkedin">
                              <a href="#" target="_blank">
                                <span
                                  ><i class="pbmit-base-icon-linkedin-in"></i
                                ></span>
                              </a>
                            </li>
                            <li class="pbmit-social-li pbmit-social-instagram">
                              <a href="#" target="_blank">
                                <span
                                  ><i class="pbmit-base-icon-instagram"></i
                                ></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-7">
                <form
                  action="send.php"
                  class="contact-form"
                  id="contact-form"
                  method="post"
                >
                  <h4>SEND US A MESSAGE</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                        <input
                          class="form-control"
                          name="name"
                          placeholder="Name"
                          required=""
                          type="text"
                        />
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <input
                          class="form-control"
                          name="email"
                          placeholder="Email"
                          required=""
                          type="email"
                        />
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <input
                          class="form-control"
                          name="number"
                          placeholder="Phone"
                          required=""
                          type="tel"
                        />
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <input
                          class="form-control"
                          name="subject"
                          placeholder="Subject"
                          required=""
                          type="text"
                        />
                      </p>
                    </div>
                    <div class="col-lg-12">
                      <p>
                        <textarea
                          class="form-control"
                          name="message"
                          placeholder="Your message here"
                          required=""
                          rows="10"
                        ></textarea>
                      </p>
                    </div>
                    <div class="col-lg-12">
                      <button
                        class="pbmit-btn pbmit-btn-white pbmit-submit-btn"
                        href="contact-us.html"
                      >
                        <i
                          class="form-btn-loader fa fa-circle-o-notch fa-spin fa-fw margin-bottom d-none"
                        ></i>
                        <span class="button-text">Send Message</span>
                      </button>
                    </div>
                    <div class="col-md-12 col-lg-12 message-status"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- Contact Us End -->

        <!-- Map Start -->
        <section>
          <div class="container-fluid g-0">
            <iframe
              aria-label="Location in Mati, Davao Oriental"
              src="https://maps.google.com/maps?q=Guang-guang,+Mati,+8200+Davao+Oriental&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near"
              title="Mati, Davao Oriental"
              width="100%"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </section>

        <!-- Map End -->
      </div>
      <!-- Contact Us Content End -->
      {% include "includes/footer.html" %}
    </div>
    <!-- Page Wrapper End -->
    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
      <div class="pbmit-icon-close"></div>
      <div class="pbmit-search-outer">
        <form class="pbmit-site-searchform">
          <input
            class="form-control field searchform-s"
            name="s"
            placeholder="Search …"
            type="search"
          />
          <button type="submit">
            <i class="pbmit-base-icon-search-1"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Search Box End Here -->
    <!-- Scroll To Top -->
    <div class="pbmit-progress-wrap">
      <svg
        class="pbmit-progress-circle svg-content"
        height="100%"
        viewbox="-1 -1 102 102"
        width="100%"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- Scroll To Top End -->
    <!-- JS 
      ============================================ -->
    <!-- jQuery JS -->
    <script data-cfasync="false" src="static/js/email-decode.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="static/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="static/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="static/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="static/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="static/js/circle-progress.js"></script>
    <!-- countdown JS -->
    <script src="static/js/jquery.countdown.min.js"></script>
    <!-- AOS -->
    <script src="static/js/aos.js"></script>
    <!-- GSAP -->
    <script src="static/js/gsap.js"></script>
    <!-- Scroll Trigger -->
    <script src="static/js/ScrollTrigger.js"></script>
    <!-- Split Text -->
    <script src="static/js/SplitText.js"></script>
    <!-- Magnetic -->
    <script src="static/js/magnetic.js"></script>
    <!-- GSAP Animation -->
    <script src="static/js/gsap-animation.js"></script>
    <!-- Form Validator -->
    <script src="static/js/jquery.validate.min.js"></script>
    <!-- Scripts JS -->
    <script src="static/js/scripts.js"></script>
    <script>
      (function () {
        function c() {
          var b = a.contentDocument || a.contentWindow.document;
          if (b) {
            var d = b.createElement("script");
            d.innerHTML =
              "window.__CF$cv$params={r:'8def318d6f8d686a',t:'MTczMTAwMjExOS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
            b.getElementsByTagName("head")[0].appendChild(d);
          }
        }
        if (document.body) {
          var a = document.createElement("iframe");
          a.height = 1;
          a.width = 1;
          a.style.position = "absolute";
          a.style.top = 0;
          a.style.left = 0;
          a.style.border = "none";
          a.style.visibility = "hidden";
          document.body.appendChild(a);
          if ("loading" !== document.readyState) c();
          else if (window.addEventListener)
            document.addEventListener("DOMContentLoaded", c);
          else {
            var e = document.onreadystatechange || function () {};
            document.onreadystatechange = function (b) {
              e(b);
              "loading" !== document.readyState &&
                ((document.onreadystatechange = e), c());
            };
          }
        }
      })();
    </script>
  </body>
</html>
