<!DOCTYPE html>

<html class="no-js" lang="en">
  {% include "includes/head.html" %}
  <body>
    <!-- Page Wrapper -->
    <div class="page-wrapper pbmit-bg-color-blackish">
      <!-- Header Main Area -->
      <header class="site-header header-style-1">
        {% include "includes/nav.html" %}
      </header>
      <!-- Header Main Area End Here -->
      <!-- Title Bar -->
      <div class="pbmit-title-bar-wrapper">
        <div class="container">
          <div class="pbmit-title-bar-content">
            <div class="pbmit-title-bar-content-inner">
              <div class="pbmit-tbar">
                <div class="pbmit-tbar-inner container">
                  <h1 class="pbmit-tbar-title">FAQ</h1>
                </div>
              </div>
              <div class="pbmit-breadcrumb">
                <div class="pbmit-breadcrumb-inner">
                  <span
                    ><a class="home" href="#" title=""
                      ><span>DorSU</span></a
                    ></span
                  >
                  <span class="sep">//</span>
                  <span
                    ><span class="post-root post post-post current-item"
                      >FAQ</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Title Bar End-->
      <!-- Page Content -->
      <div class="page-content section-faq">
        <!-- FAQ -->
        <section class="section-lgx">
          <div class="container">
            <div class="pbmit-heading-subheading text-center animation-style1">
              <h4 class="pbmit-subtitle"><span></span>General Question</h4>
              <h2 class="pbmit-title">BEGINNERS QUESTION</h2>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item active">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        aria-controls="collapseOne"
                        aria-expanded="true"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseOne"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        How often should I exercise?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingOne"
                      class="accordion-collapse collapse show"
                      data-bs-parent="#accordionExample"
                      id="collapseOne"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button
                        aria-controls="collapseTwo"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseTwo"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        What time of day is best to work out?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingTwo"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                      id="collapseTwo"
                      style=""
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button
                        aria-controls="collapseThree"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseThree"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        Should I lift weights for strength training?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingThree"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                      id="collapseThree"
                      style=""
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingfour">
                      <button
                        aria-controls="collapsefour"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapsefour"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        Do I need to warm up before my workouts?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingfour"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                      id="collapsefour"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button
                        aria-controls="collapseFive"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseFive"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        What are the important things in a workout?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingFive"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample"
                      id="collapseFive"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="accordion" id="accordionExample1">
                  <div class="accordion-item active">
                    <h2 class="accordion-header" id="heading1">
                      <button
                        aria-controls="collapse1"
                        aria-expanded="true"
                        class="accordion-button collapsed"
                        data-bs-target="#collapse1"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        How often should I exercise?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="heading1"
                      class="accordion-collapse collapse show"
                      data-bs-parent="#accordionExample1"
                      id="collapse1"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button
                        aria-controls="collapse2"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapse2"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        What time of day is best to work out?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="heading2"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample1"
                      id="collapse2"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                      <button
                        aria-controls="collapse3"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapse3"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        Should I lift weights for strength training?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="heading3"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample1"
                      id="collapse3"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                      <button
                        aria-controls="collapse4"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapse4"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        Do I need to warm up before my workouts?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="heading4"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample1"
                      id="collapse4"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                      <button
                        aria-controls="collapse5"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapse5"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        What are the important things in a workout?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="heading5"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample1"
                      id="collapse5"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at bibendum, tristique eu elit.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- FAQ end -->
        <!-- FAQ -->
        <section class="section-lgb">
          <div class="container">
            <div class="pbmit-heading-subheading text-center animation-style1">
              <h4 class="pbmit-subtitle"><span></span>Gym Question</h4>
              <h2 class="pbmit-title">FITNESS QUESTIONS</h2>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="accordion" id="accordionExample2">
                  <div class="accordion-item active">
                    <h2 class="accordion-header" id="headingOne1">
                      <button
                        aria-controls="collapseOne1"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseOne1"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        What is the most important thing for gym training?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingTwo1"
                      class="accordion-collapse collapse show"
                      data-bs-parent="#accordionExample2"
                      id="collapseOne1"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at posuere bibendum, tristique eu elit
                        praesent eros ante, facilisis ut justo vitae, rutrum
                        semper tortor donec euismod consequat nisl, eu feugiat
                        purus blandit pharetra.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo1">
                      <button
                        aria-controls="collapseTwo1"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseTwo1"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        Should I do strength training, cardio or both?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingTwo1"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample2"
                      id="collapseTwo1"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at posuere bibendum, tristique eu elit
                        praesent eros ante, facilisis ut justo vitae, rutrum
                        semper tortor donec euismod consequat nisl, eu feugiat
                        purus blandit pharetra.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree1">
                      <button
                        aria-controls="collapseThree1"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseThree1"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        What are benefits of joining a gyim fitness center?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingThree1"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample2"
                      id="collapseThree1"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at posuere bibendum, tristique eu elit
                        praesent eros ante, facilisis ut justo vitae, rutrum
                        semper tortor donec euismod consequat nisl, eu feugiat
                        purus blandit pharetra.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour1">
                      <button
                        aria-controls="collapseFour1"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseFour1"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        Should I lift weights for strength training?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingFour1"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample2"
                      id="collapseFour1"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at posuere bibendum, tristique eu elit
                        praesent eros ante, facilisis ut justo vitae, rutrum
                        semper tortor donec euismod consequat nisl, eu feugiat
                        purus blandit pharetra.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive1">
                      <button
                        aria-controls="collapseFive1"
                        aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#collapseFive1"
                        data-bs-toggle="collapse"
                        type="button"
                      >
                        What type of training do I need to do to increase muscle
                        mass?
                      </button>
                    </h2>
                    <div
                      aria-labelledby="headingFive1"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionExample2"
                      id="collapseFive1"
                    >
                      <div class="accordion-body">
                        Praesent ornare arcu at faucibus scelerisque aenean ex
                        enim, malesuada at posuere bibendum, tristique eu elit
                        praesent eros ante, facilisis ut justo vitae, rutrum
                        semper tortor donec euismod consequat nisl, eu feugiat
                        purus blandit pharetra.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- FAQ end -->
      </div>
      <!-- Page Content End -->
      {% include "includes/footer.html" %}

      <!-- footer End -->
    </div>
    <!-- Page Wrapper End -->
    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
      <div class="pbmit-icon-close"></div>
      <div class="pbmit-search-outer">
        <form class="pbmit-site-searchform">
          <input
            class="form-control field searchform-s"
            name="s"
            placeholder="Search …"
            type="search"
          />
          <button type="submit">
            <i class="pbmit-base-icon-search-1"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Search Box End Here -->
    <!-- Scroll To Top -->
    <div class="pbmit-progress-wrap">
      <svg
        class="pbmit-progress-circle svg-content"
        height="100%"
        viewbox="-1 -1 102 102"
        width="100%"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>
    <!-- Scroll To Top End -->
    <!-- JS
         ============================================ -->
    <!-- jQuery JS -->
    <script data-cfasync="false" src="static/js/email-decode.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="static/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="static/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="static/js/numinate.min.js"></script>
    <!-- Swiper JS -->
    <script src="static/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="static/js/circle-progress.js"></script>
    <!-- AOS -->
    <script src="static/js/aos.js"></script>
    <!-- GSAP -->
    <script src="static/js/gsap.js"></script>
    <!-- Scripts JS -->
    <script src="static/js/scripts.js"></script>
    <script>
      (function () {
        function c() {
          var b = a.contentDocument || a.contentWindow.document;
          if (b) {
            var d = b.createElement("script");
            d.innerHTML =
              "window.__CF$cv$params={r:'8def30f5d895268e',t:'MTczMTAwMjA5NS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
            b.getElementsByTagName("head")[0].appendChild(d);
          }
        }
        if (document.body) {
          var a = document.createElement("iframe");
          a.height = 1;
          a.width = 1;
          a.style.position = "absolute";
          a.style.top = 0;
          a.style.left = 0;
          a.style.border = "none";
          a.style.visibility = "hidden";
          document.body.appendChild(a);
          if ("loading" !== document.readyState) c();
          else if (window.addEventListener)
            document.addEventListener("DOMContentLoaded", c);
          else {
            var e = document.onreadystatechange || function () {};
            document.onreadystatechange = function (b) {
              e(b);
              "loading" !== document.readyState &&
                ((document.onreadystatechange = e), c());
            };
          }
        }
      })();
    </script>
  </body>
</html>
